.row {
	margin: 0!important;
	padding-top: 31px!important;
}

.boxes{
	width: 150px;
	height: 150px;
    margin: 0 auto;
	border-color: #A9A9A9; 
	border-width: 10px;
	font-size: 50px;
	text-align: center;
	padding-top: 7%;	
    border-radius: 100px;
    border-style: double;

    }



.tituluak{
 	text-align: center;
 	color: #A9A9A9;

}

.texto{
	text-align: center;
	margin-left: 80px;
	margin-right: 80px;
	color: #A9A9A9;
}

.iconos2 {
	font-size: 50px;
	color: #ad33ff;
}

.iconos3{

	font-size: 50px;
	color: #66b3ff;
}

.icono1 {
	font-size: 50px;
	color: #ff3385;
}

.hr {
        margin-top: -1%;
    margin-bottom: 66px;
    border-top: 5px solid #009999;
    width: 13%;
}
div.cities {
    border-left: 25px;
    background-color: red;
    color: white;
        margin: 17% 30% 0 263px;
    } 

.bckBox{
-webkit-box-shadow: 5px 20px 15px -5px #0A0A0A;
box-shadow: 5px 20px 15px -5px #0A0A0A;

}

.boxChange{
	    transition: 3s;
     }

.boxChange:hover{

border-color: 	#686868   ;
background-color: #D8D8D8  ;
border-width: 15px;
font-size: 60px;
color: #d24dff;
}

.iconos2:hover{
	font-size: 60px;
	color: #00e673;
}
.icono1:hover{
	font-size: 60px;
	color: #00e673;
}
.iconos3:hover{
	font-size: 60px;
	color: #00e673;
}



@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#slider { overflow: hidden; }
div#slider figure img { width: 5%; float: left; }
div#slider figure { 
  position: relative;
  width: 550%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 8s slidy infinite; 
}

/*FORMULARIO*/



input[type=text], select {
    width: 100%;
    padding: 8px 5px;
    margin: 0 0 10px 0;
    display: inline-block;
    border: 5px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



label {
	color: #3366ff
	
	
}


textarea {
    width: 100%;
    height: 150px;
    padding: 12px 5px;
    box-sizing: border-box;
    border: 5px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

.hrform {
	 
    border-top: 5px solid #ccc;
    width: 50%;

}

input[type=button]{
    background-color: #ccc;
    color: #3366ff;
    padding: 9px 30px;
    margin: 15px 0px 0px 50px;
        cursor: pointer;
   font-weight: 700;
}
.btn {
background-color: #ccc;
    color: #3366ff;
    padding: 9px 30px;
    margin: 15px 0px 0px 50px;
        cursor: pointer;
   font-weight: 700;
	
}
form {

		background-image: url(../images/frutas.jpg);
		
}
